<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h2>Autor</h2>
    <p>Desarrollado por Mr. X</p>
    <img src="/images/mrx.jpg"/>
  </body>
</html>
